// COLOR VARIABLES
$color-main: #8774AA; //FOOTER HEADER
$color-main-light: #B39DDB; // FOOTER AND HEADER DETAILS
$color-back: #E3E7F1;
$color-insta: #604B88; //50% //INSTAGRAM
$color-secondary: #7B61AA; //70% PORTFOLIO CONTACT
$color-hexagon-light: #9575CD; //HEXAGON
$color-hexagon-dark: #3F3257; //HEXAGON
$color-resume: #7B61AA; //RESUME

$color-grey: #323F4B; //MAIN LETTERS
$color-white: #FAFAFA; //WHITE

// FONT

$font-titles: "Rufina", serif;
$font-subtitles: "Cedarville Cursive", cursive;
$font-main: "Montserrat", sans-serif;
