.navigation {
  background-color: $color-white;
  grid-column: full-start / full-end;

  &__logos {
    background-color: $color-main-light;
  }

  &__logo {
    fill: $color-white;
    width: 2rem;
    height: 2rem;
  }

  &__list {
    list-style: none;

    display: grid;
  }
}
