.education {
    padding: 6rem 0;
    &__title {
        text-align: center;
        position:relative;
    }

    &__content {
        
    }
}

.heading {
    &__secondary {
        &--education {
            top: 1rem;
            left: 41.8%;
        }
    }
}