.header {
  &__picture {
    background-color: $color-main;
    grid-column: full-start / col-end 7;
  }

  &__presentation {
    background-color: $color-main;
    grid-column: col-start 8 / full-end;

    padding: 6rem 8vw;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content);
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 3rem;
    padding: 3rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    //align-content: center;
  }
}

.about {
  &__pictures {
    background-color: $color-white;
    grid-column: full-start / col-end 7;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
    padding: 6rem;
  }

  &__content {
    background-color: $color-white;
    grid-column: col-start 8 / full-end;
  }
}

.education {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
}

.portfolio {
  background-color: $color-white;
  grid-column: full-start / full-end;
}

.skills {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: min-content repeat(2, 16vw);
  grid-column-gap: 4rem;
  padding: 6rem 0;
  grid-row-gap: 6rem;
}

.resume {
  &__content {
    background-color: $color-white;
    grid-column: full-start / col-end 7;
  }

  &__picture {
    background-color: $color-white;
    grid-column: col-start 8 / full-end;
  }
}

.contact {
  background-color: rgba($color-secondary, 0.7);
  grid-column: full-start / full-end;
  margin-bottom: 2rem;
}

.instagram__contact {
  background-color: rgba($color-insta, 0.5);
  grid-column: full-start / full-end;

  display: grid;
  justify-content: center;
}

.instagram {
  background-color: rgba($color-insta, 0.5);
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 9vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
